resource "azurerm_virtual_network" "VNet" {
  name                = "${var.vm_name}-net"
  address_space       = ["10.0.0.0/16"]
  location            = var.az_rsg_loc
  resource_group_name = var.az_rsg_name
}

resource "azurerm_subnet" "AzureSubnet" {
  name                 = "${var.vm_name}-subnet"
  resource_group_name  = var.az_rsg_name
  virtual_network_name = azurerm_virtual_network.VNet.name
  address_prefixes     = ["10.0.1.0/24"]
}

resource "azurerm_public_ip" "PubIP" {
  name                = "${var.vm_name}-ip"
  resource_group_name = var.az_rsg_name
  location            = var.az_rsg_loc
  allocation_method   = "Static"
}

resource "azurerm_network_interface" "nic" {
  name                = "${var.vm_name}-nic"
  location            = var.az_rsg_loc
  resource_group_name = var.az_rsg_name

  ip_configuration {
    name                          = "internal"
    subnet_id                     = azurerm_subnet.AzureSubnet.id
    private_ip_address_allocation = "Dynamic"
    public_ip_address_id          = azurerm_public_ip.PubIP.id
  }
}

{% if vm_os_type == "windows" %}
resource "azurerm_network_security_group" "NSG" {
  name                = "${var.vm_name}-nsg"
  location            = var.az_rsg_loc
  resource_group_name = var.az_rsg_name

  security_rule {
    name                       = "RDP"
    priority                   = 1000
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "3389"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  security_rule {
    name                       = "WinRM"
    priority                   = 1001
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "5986"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  security_rule {
    name                       = "IIS"
    priority                   = 1002
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "80"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  security_rule {
    name                       = "PsExec"
    priority                   = 1003
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "Tcp"
    source_port_range          = "*"
    destination_port_range     = "445"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
}

resource "azurerm_windows_virtual_machine" "VM" {
  name                = var.vm_name
  resource_group_name = var.az_rsg_name
  location            = var.az_rsg_loc
  size                = var.vm_size
  admin_username      = "redhat"
  admin_password      = var.admin_password
  network_interface_ids = [
    azurerm_network_interface.nic.id,
  ]

  os_disk {
    caching              = "ReadWrite"
    storage_account_type = "Standard_LRS"
  }

  source_image_reference {
    publisher = "MicrosoftWindowsServer"
    offer     = "WindowsServer"
    sku       = var.vm_sku
    version   = "latest"
  }
}

resource "azurerm_virtual_machine_extension" "winrm-setup" {
  name                 = "winrm-setup"
  virtual_machine_id   = azurerm_windows_virtual_machine.VM.id
  publisher            = "Microsoft.Compute"
  type                 = "CustomScriptExtension"
  type_handler_version = "1.9"

  protected_settings = <<SETTINGS
  {    
    "fileUris": ["https://gitlab.com/cfernand/ansible-windows-demo/-/raw/main/files/ConfigureRemotingForAnsible.ps1"],
    "commandToExecute": "powershell -ExecutionPolicy Unrestricted -File ConfigureRemotingForAnsible.ps1"
  }
  SETTINGS
}
{% endif %}
{% if vm_os_type == "linux" %}
resource "azurerm_network_security_group" "NSG" {
  name                = "${var.vm_name}-nsg"
  location            = var.az_rsg_loc
  resource_group_name = var.az_rsg_name

  security_rule {
    name                       = "SSH"
    priority                   = 1000
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "22"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
  security_rule {
    name                       = "HTTPD"
    priority                   = 1001
    direction                  = "Inbound"
    access                     = "Allow"
    protocol                   = "*"
    source_port_range          = "*"
    destination_port_range     = "80"
    source_address_prefix      = "*"
    destination_address_prefix = "*"
  }
}

resource "azurerm_linux_virtual_machine" "VM" {
  name                = var.vm_name
  resource_group_name = var.az_rsg_name
  location            = var.az_rsg_loc
  size                = var.vm_size
  admin_username      = "redhat"
  admin_password      = var.admin_password
  disable_password_authentication = "false"
  network_interface_ids = [
    azurerm_network_interface.nic.id,
  ]

  os_disk {
    caching              = "ReadWrite"
    storage_account_type = "Standard_LRS"
  }

  source_image_reference {
    publisher = "RedHat"
    offer     = "RHEL"
    sku       = var.vm_sku
    version   = "latest"
  }
}
{% endif %}

output "vm_public_ip" {
  value       = azurerm_public_ip.PubIP.ip_address
  description = "Virtual Machine Public IP address"
}