variable "az_rsg_name" {
  type = string
  description = "Azure Resource Group Name"
  default = "{{ az_rsg_name }}"
}

variable "az_rsg_loc" {
  type = string
  description = "Azure Resource Group Location"
  default = "{{ az_rsg_loc }}"
}

variable "vm_name" {
  type = string
  description = "Virtual Machine Name"
  default = "{{ vm_name }}"
}

variable "vm_size" {
  type = string
  description = "Virtual Machine Size"
  default = "{{ vm_size }}"
}

variable "admin_password" {
  type = string
  description = "Admin Password"
  default = "T3mP0r4L!1213"
}

variable "vm_sku" {
  type = string
  description = "Virtual Machine SKU"
  default = "{{ vm_sku }}"
}